@import "tailwindcss";

/* Tailwind 4 custom variant */
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.dark body {
  @apply bg-[#0b0e11] text-gray-100;
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.25s ease-out forwards;
}
